.form-actions {
  height: 35px;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
mat-form-field {
  width: 28%;
  margin: 8px;
}
.form-section-header {
  height: 45px;
}
.question-section {
  min-height: 65px;
}

.form-content {
  margin-top: 8px;
}
.half-width {
  width: 46%;
}
.full-width {
  width: 100%;
}
