<h1> Emergency Screen</h1>


<mat-card>
<h2> General Information </h2>
  <form [formGroup]="ScreenFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div>
        <mat-form-field>
          <input matInput placeholder="FESA Identifier" formControlName="FesaID" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Best Way to Contact" formControlName="ContactMethod">
            <mat-option *ngFor="let method of formValues.contactMethods" [value]="method.value">
              {{ method.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="myDatepicker" placeholder="Screen Date" value="{{dateNow}}" formControlName="ScreenDate">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Additional Notes" formControlName="GeneralNotes" rows="2"></textarea>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="form-actions">
      <span class="right">
        <button type="submit" mat- [disabled]="ScreenFormGroup.pristine" mat-raised-button color="accent">Save</button> &nbsp;
        <button type="button" (click)="revert()" [disabled]="ScreenFormGroup.pristine" mat-raised-button color="warn">Revert</button>
      </span>
    </div>


  </form>

</mat-card>
<p>Form value: {{ ScreenFormGroup.value | json}}</p>


<!-- <mat-step formGroupName="1" [stepControl]="formArray.get([1])">

      <ng-template matStepLabel>Parent/Guardian</ng-template>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="secondCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="secondCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Middle Name" formControlName="secondCtrl">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Maiden Name / Alias" formControlName="secondCtrl">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="accent" matStepperPrevious type="button" type="button">Back</button>
        <button mat-raised-button color="accent" matStepperNext type="button" type="button">Next</button>
      </div>

    </mat-step>
    <mat-step formGroupName="2" [stepControl]="formArray.get([2])">

      <ng-template matStepLabel>Children</ng-template>

      <div>
        <mat-form-field>
          <input matInput placeholder="Last Name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Middle Name" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="DOB" [matDatepicker]="myDatepicker">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="accent" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="3" [stepControl]="formArray.get([3])">
      <ng-template matStepLabel>Living Situation</ng-template>
      <div>
        <label>Unsheltered? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.Unsheltered">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label>Can you find a place for a couple of nights? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.PlaceToStay">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label>Do you have money for a hotel? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.HotelMoney">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field>
        <input matInput [(ngModel)]="emergencyScreen.HomelessInDays" placeholder="How long have you been Homeless?"> days
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="emergencyScreen.CurrentLocation" placeholder="Where are you right now?">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="emergencyScreen.YesterdayLocation" placeholder="Where did you stay last night?">
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step  formGroupName="4" [stepControl]="formArray.get([4])">
      <ng-template matStepLabel>Specific Needs</ng-template>
      <div>
        <label>Current Pregnancy? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.Pregnancy">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <label>Pets or other animals? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.Pets">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field [(ngModel)]="emergencyScreen.PetType">
          <input matInput placeholder="If so, what kind of pet?">
        </mat-form-field>
      </div>
      <div>
        <label>Any mental Or physical disabilities? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.Disabilities">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <input matInput [(ngModel)]="emergencyScreen.DisabilitiesDescription" placeholder="Please Describe">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="emergencyScreen.OtherMedicalNeeds" placeholder="Other Medical Needs">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="accent" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step  formGroupName="5" [stepControl]="formArray.get([5])">
      <ng-template matStepLabel>Specific Needs</ng-template>

      <div>
        <label>Are you currently fleeing a partner/family member who is actively abusing or threatening you? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.FleeingPartnerOrFamilyMember">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <label> Have you called Domestic Violence shelters to access services? </label>
        <mat-radio-group [(ngModel)]="emergencyScreen.CalledDomesticViolenceShelters">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="emergencyScreen.OtherMedicalNeeds" placeholder="Additional Details">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="accent" matStepperNext type="button">Next</button>
      </div>
    </mat-step> -->
