.form-actions {
  height: 35px;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
mat-form-field {
  width: 28%;
  margin: 8px;
}
.form-section-header {
  height: 45px;
}
.question-section {
  min-height: 65px;
}

.form-content {
  margin-top: 8px;
}


.profile-title {
  background-color: #B15488;
  color: white;
}

.top-search {
  color: white;
}

.edit-title {
  background-color: white;
  color: black;
}
