<div class="main-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="main-toolbar mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon *ngIf="!snav.opened" [@rotate]="state">menu</mat-icon>
      <mat-icon *ngIf="snav.opened" [@rotate]="state">arrow_back</mat-icon>
    </button>

    <h1 class="main-app-name">
      <span  style="cursor: pointer;" routerLink="home">Shelter Sherpa
        <span>
          <img src="/assets/sherpa-image-test.png" style="height: 41px; margin-bottom: -13px;">
        </span>
      </span>
    </h1>

  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      [opened]="toggleState(snav.opened)">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="mat-app-background basic-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
